%h2 Basic information
%ul
  %li Peter
  %li de Verteuil
  %li Full Stack Web Developer
  %li p.verteuil@gmail.com
  %li 416 822 1351
  %li
    %a{:href => "//ca.linkedin.com/in/peter-de-verteuil-2b0563a0"} Linkedin
  %li
    %a{:href => "//www.github.com/PierreDV"} Github
  %li Toronto, ON

%h2 Summary
%p A full stack web developer with a passion for building solid full-stack applications. Interested in building seamless user interface experiences coupled with efficient back end programming interfaces. Working towards becoming a skilled Node.js developer. Interests include chess, cycling, music and cinema.

%h2 Education
%h4 Lighthouse Labs
%ul
  %li Web Development Bootcamp | 2016
%h4 University of Toronto
%ul
  %li B.A.Sc. | Double Major in History and Cinema Studies | 2012

%h2 Employment
%h4 SpaceiShare
%ul
  %li Web Developer
  %li Toronto, ON
  %li August 2016 to Present
  %ul
    %li Implented french translations for the website.
    %li Fixed and debugged diverse issues.
%h4 Lacy and Company
%ul
  %li Sales Representative
  %li Toronto, ON
  %li November 2012 to July 2015
  %ul
    %li Worked the sales floor of a store that sold tools and materials for jewellery making.
    %li Gave demonstrations using arc welders, engraving machines and other tools.
%h4 Zoll Medical
%ul
  %li Administrator/Technician
  %li Mississauga, ON
  %li September 2011 to July 2012
  %ul
    %li Tested and repaired defibrillator accessories.
    %li Used Oracle databases extensively.

%h2 Skills
%h4 Languages/Libraries
%ul
  %li Ruby
  %li JavaScript
  %li HTML
  %li CSS
  %li jQuery
  %li Haml
  %li React/Redux
  %li SQL
%h4 Frameworks
%ul
  %li Rails
  %li Node.js/Express
  %li Sinatra
%h4 Databases
%ul
  %li sqlite3
  %li MongoDB
  %li Postgres
%h4 Other
%ul
  %li RSpec
  %li Mocha / Chai
  %li HTTP/REST
  %li Git
  %li Markdown
%h2 Projects
%h4
  %a{:href => "//github.com/PierreDV/cloudtype"} CloudType
%p A front end weather forecast application that gives you the average temperature, pressure and humidity for the next five days in any Canadian City. The app is built with a Node.js framework and React with Redux to manage the views and data.  Weather data is accessed through the Open Weather Map API.
%h4
  %a{:href => "//github.com/PierreDV/infinivid"} Infinivid
%p A work-in-progress Youtube clone that uses Node as a framework, Express for the backend API, React/Redux for the interface and MongoDB for the server.
%h4
  %a{:href => "//github.com/PierreDV/the_six_tours"} The Six Tours
%p A work-in-progress Toronto travel site that is built with a Node.js framework to serve as a deep dive exercise into Express.
%h4
  %a{:href => "//github.com/PierreDV/rotten_mangoes"} Rotten Mangoes
%p My first rails app which is a Rotten Tomatoes clone.
%h2 Volunteering
%h4 North by Northeast Music Festival 2013/2014/2015
%ul
  %li Volunteer
  %li Toronto, ON
  %ul
    %li Registered bands, journalists and concert goers; ensuring they had all the necessary wristbands and media passes. 
