.col-lg-12.col-md-12.col-sm-12.col-xs-12
  .jumbotron
    %p
      A full stack web developer with a passion for building solid full-stack applications. Interested in building seamless user interface experiences coupled with efficient back end programming interfaces. Working towards becoming a skilled Node.js developer. Interests include chess, cycling, music and cinema.
