body {
  width: 750px;
  font-family: Arial, Verdana, sans-serif;
  color: #565656;
  background-color: #D7CEC7;
}
h1, {
  background-color: #C09F80;
  padding: 10px;}

/*
 * color scheme
 * #03899C - blue
 * #FFAE00 - yellow
 * #FF1300 - red
 */
