.page-header
  %h1 Peter de Verteil | Full-Stack Web Developer
  .btn-group.btn-group-lg.disabled{:role => "group"}
    .btn.btn-default{:type => "button"} Employment
    .btn.btn-default{:type => "button"} Skills
    .btn.btn-default{:type => "button"} Education
    .btn.btn-default{:type => "button"} Projects
